    {% extends 'template.html.twig' %}

    {% block body %}

    <div class="container-fluid mt-4"
    {{ stimulus_controller('reload-content',{
    url:path('attachment_list')}) }}
            data-action = "modal-form:success->reload-content#refreshContent">

    <div class="d-flex flex-row">
        <h1 class="me-3">Liste des Pièces Jointes </h1>

        <!-- "formUrl" indique l'URL à utiliser pour le form - "data-action" déclenche action quand la modal se ferme - exécute 'modal-form#modalHidden'-->
        <div {{ stimulus_controller('modal-form', {
            formUrl: path('upload_attachment')
        }) }}
        data-action="hidden.bs.modal->modal-form#modalHidden">

            <!-- ouvre la modal  -->

            <button
                    class="btn btn-dark"
                    data-action="modal-form#openModal">
                Nouveau
            </button>
            {{ include('_modal.html.twig', {
                modalTitle: 'Ajouter une nouvelle pièce jointe',
            }) }}
        </div>
    </div>

        {{ include('attachment/_list.html.twig') }}
</div>>
{% endblock %}

