{% extends 'template.html.twig' %}

{% block title %}Ajouter une pièce jointe{% endblock %}

{% block body %}
    <h1>Upload d'une pièce jointe</h1>

 {% include 'attachment/_form.html.twig' %}

{% endblock %}